<p-table [columns]="cols" [value]="camps" selectionMode="single" [(selection)]="selectedCamp" (onRowSelect)="onRowSelect($event)" [paginator]="true" [rows]="15">
    <ng-template pTemplate="caption">
        Ligas
    </ng-template>
    <ng-template pTemplate="header" let-columns>
        <tr>
            <th *ngFor="let col of columns" [pSortableColumn]="col.field">
                {{col.header}}
                <p-sortIcon [field]="col.field"></p-sortIcon>
            </th>
        </tr>
    </ng-template>
    <ng-template pTemplate="body" let-rowData let-columns="columns">
        <tr [pSelectableRow]="rowData">
            <td *ngFor="let col of columns">
                {{rowData[col.field]}}
            </td>
        </tr>
    </ng-template>
    <ng-template pTemplate="summary" let-rowData>
        <div style="text-align:left">
            <button type="button" pButton icon="pi pi-plus" (click)="showDialogToAdd()" label="Add"></button>
        </div>
    </ng-template>    
</p-table>

<p-dialog header="Car Details" [(visible)]="displayDialog" [focusOnShow]="false" [responsive]="true" showEffect="fade" [modal]="true"  [style]="{width: '300px'}">
    <div class="p-grid ui-fluid" *ngIf="camp">
        <div class="p-col-4">
            <label for="nome">Nome</label>
        </div>
        <div class="p-col-8">
            <input pInputText id="nome" [(ngModel)]="camp.nome" autofocus />
        </div>
        <div class="p-col-4">
            <label for="ano">Ano</label>
        </div>
        <div class="p-col-8">
            <input pInputText id="ano" [(ngModel)]="camp.ano" />
        </div>
        <div class="p-col-4">
            <label for="nacionalidade">Nacionalidade</label>
        </div>
        <div class="p-col-8">
            <input pInputText id="nacionalidade" [(ngModel)]="camp.nacionalidade" />
        </div>
    </div>
    <div>
        <p-dropdown [options]="cars" [(ngModel)]="selectedCar2" filter="true">
            <ng-template let-item pTemplate="selectedItem">
                <span style="vertical-align:middle; margin-left: .5em">{{item.label}}</span>
            </ng-template>
            <ng-template let-car pTemplate="item">
                <div class="ui-helper-clearfix" style="position: relative;height: 25px;">
                    <div style="font-size:14px;margin-top:4px">{{car.label}}</div>
                </div>
            </ng-template>
        </p-dropdown>
    </div>
    <p-footer>
        <div class="ui-dialog-buttonpane ui-helper-clearfix">
            <button type="button" pButton icon="pi pi-times" (click)="delete(camp.id)" label="Delete"></button>
            <button type="button" pButton icon="pi pi-check" (click)="save()" label="Save"></button>
        </div>
    </p-footer>
</p-dialog>