<div class="p-col">
<p-table [columns]="cols" [value]="clubs" selectionMode="single" [(selection)]="selectedClub" (onRowSelect)="onRowSelect($event)" [paginator]="true" [rows]="10">
  <ng-template pTemplate="caption">
      Clubes
  </ng-template>
  <ng-template pTemplate="header" let-columns>
      <tr>
          <th *ngFor="let col of columns" [pSortableColumn]="col.field">
              {{col.header}}
              <p-sortIcon [field]="col.field"></p-sortIcon>
          </th>
      </tr>
  </ng-template>
  <ng-template pTemplate="body" let-rowData let-columns="columns">
      <tr [pSelectableRow]="rowData">
          <td *ngFor="let col of columns">
              {{rowData[col.field]}}
          </td>
      </tr>
  </ng-template>
  <ng-template pTemplate="summary" let-rowData>
      <div style="text-align:left">
          <button type="button" pButton icon="pi pi-plus" (click)="showDialogToAdd()" label="Add"></button>
      </div>
  </ng-template>    
</p-table>

</div>

<p-confirmDialog header="Confirmation" icon="pi pi-exclamation-triangle"></p-confirmDialog>
<p-toast></p-toast>

<p-dialog header="Car Details" [(visible)]="displayDialog" [focusOnShow]="false" [responsive]="true" showEffect="fade" [modal]="true"  [style]="{width: '300px'}">
  <div class="p-grid ui-fluid" *ngIf="club">
      <div class="p-col-4">
          <label for="nome">Nome</label>
      </div>
      <div class="p-col-8">
          <input pInputText id="nome" [(ngModel)]="club.nome" autofocus />
      </div>
      <div class="p-col-4">
          <label for="ano">Estado</label>
      </div>
      <div class="p-col-8">
          <input pInputText id="estado" [(ngModel)]="club.estado" />
      </div>
      <div class="p-col-4">
          <label for="serie">Serie</label>
      </div>
      <div class="p-col-8">
          <input pInputText id="serie" [(ngModel)]="club.serie" />
      </div>

      <div class="p-grid p-justify-center">
        <div class="p-col-12">
            <p-listbox [options]="camps" [(ngModel)]="camp" optionLabel="nome"></p-listbox>

            <p>Campeonato selecionado: {{camp ? camp.nome : 'none'}}</p>
        </div>
      </div>
  </div>
  <p-footer>
      <div class="ui-dialog-buttonpane ui-helper-clearfix">
          <button type="button" pButton icon="pi pi-times" (click)="delete(club.id)" label="Delete"></button>
          <button type="button" pButton icon="pi pi-check" (click)="save()" label="Save"></button>
      </div>
  </p-footer>

    


</p-dialog>