<div class="p-col" style="display: flex; justify-content: center;">
  <p-card header="Fantasy" subheader="Aposte agora em morte subita" [style]="{width: '500px'}" styleClass="ui-card-shadow">
    <p-header>
        <img src="Card" src="assets/showcase/images/morte.png">
    </p-header>
    <div>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Inventore sed consequuntur error repudiandae numquam deserunt
        quisquam repellat libero asperiores earum nam nobis, culpa ratione quam perferendis esse, cupiditate neque quas!
    </div>
</p-card>
  </div>


